/* Shared Style */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Lato',
        sans-serif;
    font-family: 'Open Sans',
        sans-serif;
    font-family: 'Work Sans',
        sans-serif;
}



/* Shared Style ended here*/



/* Nav Start */
.nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.logo-section {
    display: flex;

}

.g-section {
    color: #ff42a5;
}

.logo-section img {

    width: 60%;
    padding: 30px;

}

.logo-section h3 {
    font-size: 35px;
    font-weight: 900;
}

ul li {
    list-style: none;
    margin-right: 20px;

}

.header-section ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

.follow-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(71, 29, 185, 0.1);
}

.follow-icon img {
    width: 20px;
    height: 20px;
}

/* Nav ended here */

/* Banner section starts */

/* .banner {
    text-align: center;
} */

.banner-section {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px;


}

.banner-text-section {

    width: 100%;
    padding: 50px;
    background-image: url("images/Group\ 14.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;


}

.banner-text-section h2 {
    font-size: 70px;

    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-text-section h3 {
    font-size: 40px;

    font-weight: 600;

}

.banner-images {

    width: 100%;
    margin-left: 60px;
}

.banner-images img {
    width: 470px;
    height: 550px;
}

.banner-button-one {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    background-color: #F948B2;
    padding: 10px;
    border-radius: 20px;
    border: none;
    margin-right: 30px;
    margin-top: 20px;
}

.banner-button-two {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    background-color: rgb(67, 119, 202);
    padding: 10px;
    border-radius: 20px;
    border: none;
}

.banner-icon {
    width: 20px;
    height: 20px;

}

small {
    font-size: 15px;
}

/* We are Gamer Section Start */
.we-are-gamer {
    background: linear-gradient(90deg, rgba(59, 10, 35, 0.03) 0%, rgba(125, 13, 71, 0.03) 100%);
    display: flex;
    align-items: center;
    padding: 50px;

}


.gamer-img {
    width: 50%;

    margin-right: 42px;

}

.gamer-img img {
    width: 710px;
    height: auto;
}


.gamer-text {
    width: 50%;
    text-align: end;
}

.gamer-text h3 {
    font-size: 40px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gamer-text p {
    font-size: 18px;
    font-weight: 400;
}

.gamer-button {
    color: white;
    background-color: violet;
    padding: 21px 40px;
    border-radius: 40px;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
}

.gamer-span {
    font-weight: bold;
    font-size: 30px;
}

/* We are Gamer Section End*/

/* Foto Collage start */
.collage-text {
    text-align: center;
    font-size: 48px;
}

.collage-text p {
    font-size: 16px;
    margin-top: -40px;
    margin-bottom: 40px;


}

.funny-videos {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 48px;
    font-weight: 700;
}

.collage-Foto {
    display: flex;
    justify-content: center;
    gap: 25px;
    text-align: start;
    padding: auto;
}

.collage-photo-pharagraph {
    align-items: center;
    font-size: 16px;

}


/* Movie -Banner section start */

.movie-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border: 2px solid red;
}

.movie-banner-text {

    border: 2px solid red;
    margin-right: 200px;
    width: 350px;
    height: 450px;
    align-items: center;
}

.movie-banner-text h3 {
    font-size: 25px;
    text-align: end;

    font-size: 48px;
    font-weight: 700;


}

.movie-banner-text p {
    text-align: center;
    font-size: 18px;

    text-align: end;

}

.movie-header {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;

}

.movie-banner-img {
    border: 2px solid red;
}

.movie-banner-relative-img {
    position: relative;
}

.movie-banner-absolute-img {
    position: absolute;
    bottom: -50px;
    left: -100px;
}


/* Careers Section start */
.careers {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F948B2;
    margin-top: 100px;
    color: white;
}

.careers-text {
    margin-left: 240px;
    width: auto;
    padding-left: 200px;

}

.careers-text h3 {
    font-size: 48px;
    font-weight: 700;
}

.careers-text p {
    font-size: 18px;


}

.careers-text-box {
    display: flex;
    justify-content: space-between;
    line-height: 1.5;

}

.careers-text-box1 {
    margin-right: 30px;
    font-size: 25px;
    font-weight: 600;
}

.careers-text-box2 {
    font-size: 25px;
    text-align: right;
    font-weight: 600;
}

.careers-image {
    width: 50%;
    margin-left: 30px;
}

.careers-button {
    color: #F948B2;
    background-color: white;
    padding: 30px;
    border-radius: 40px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

/* Icon section start */
.icon-section {
    margin: 130px 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;


}

.icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon p {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 600px;
    margin-right: 38px;
}

/* Footer  Section Start */

footer {
    background-color: rgb(216, 201, 201);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-section {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;



}

.footer-head {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.footer-imprint {
    margin-bottom: 30px;

}

.footer-imprint a {
    color: rgb(76, 73, 73);
    font-size: 12px;
    text-decoration: none;
}

.copy-right {
    color: rgb(76, 73, 73);
    font-size: 12px;
}

.footer-logo-text {
    font-size: 45px;
    font-weight: 700;
    color: white;

}

.footer-logo-g {
    color: #F948B2;
}

.footer-logo {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: white;
    margin-block-end: 60px;
    font-size: 18px;
    font-weight: 600;
}

.footer-social-media {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    margin-top: 30px;
}

.footer-social-media img {
    width: 40px;
    height: 40px;
}



/* Mobile Device layout  */

@media screen and (max-width:425px) {
    .nav-main {
        flex-direction: column;
    }

    .logo-section {
        flex-direction: column;
    }



    .logo-section h3 {
        font-size: 35px;
        font-weight: 900;
        text-align: center;
        margin: 0px
    }



    .header-section ul {
        flex-direction: column;


    }

    .about-us-header,
    .developers-header {
        margin-bottom: 20px;
    }

    /* Header Section Ended here */

    .banner-section {

        display: flex;
        flex-direction: column-reverse;
        padding: 30px;
    }

    .banner-text-section {

        width: 301px;
        height: 400px;
        margin-top: 200px;
        align-items: center;

    }


    .banner-text-section h2 {
        font-size: 70px;


        font-weight: 800;
        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .banner-text-section h3 {
        font-size: 45px;

        font-weight: 600;

    }

    .banner-images {

        width: 301px;
        height: 300px;
        padding: 50px;


    }

    .banner-images img {
        width: 310px;

    }


    /* We are Gamer section start */

    .we-are-gamer {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }


    .gamer-img {
        width: 100%;

        align-items: center;

    }

    .gamer-img img {
        width: 380px;
        height: 200px;
        align-items: center;
        border: 50px;
    }

    .gamer-text {
        width: 100%;
        text-align: end;
        text-align: center;
        border: none;
    }

    .gamer-text h3 {
        font-size: 25px;
        font-weight: 700;

    }

    .gamer-text p {
        font-size: 12px;
        font-weight: 400;
    }

    .gamer-button {
        color: white;
        background-color: violet;
        padding: 15px 30px;
        border-radius: 40px;
        border: none;
        font-size: 10px;
        text-transform: uppercase;
    }

    .gamer-span {
        font-weight: bold;
        font-size: 15px;
    }

    .banner {
        margin-bottom: 0px;
    }

    /* Gamer section End */

    /* Photo-Collage */

    .collage-text {
        text-align: center;
        font-size: 25px;
    }

    .funny-videos {
        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        font-size: 25px;
        font-weight: 700;
    }


    .collage-text p {
        font-size: 12px;
        margin-top: 15px;

    }

    .collage-Foto {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 30px;

    }

    /* Photo-Collage end */


    /* Movie -Banner section start */

    .movie-banner {
        display: grid;
        justify-content: center;
        align-items: center;

        border: 2px solid red;
    }

    .movie-banner-text {

        border: 2px solid red;

        width: 350px;
        height: 450px;
        text-align: center;
        margin-left: 150px;
    }

    .movie-banner-text h3 {
        font-size: 15px;
        text-align: end;
        margin-left: 100px;
        font-weight: 700;
        text-align: center;


    }

    .movie-banner-text p {
        text-align: center;
        font-size: 12px;

        text-align: end;
        margin-left: 20px;

    }

    .movie-header {
        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 48px;

    }

    .movie-banner-img {
        border: 2px solid red;
    }

    .movie-banner-relative-img {
        position: relative;
        width: 100px;


    }

    .movie-banner-absolute-img {
        position: absolute;
        bottom: -50px;
        left: -100px;
        width: auto;
        height: auto;
    }
}

/* Movie -Banner section End */









/* Mobile Device layout ended here */

/* Tablet Device Layout Starts */

/* @media screen and (min-width:375px) and (max-width:768) {
    .nav-main {
        flex-direction: column;
    }

    .logo-section {
        flex-direction: column;
    }



    .logo-section h3 {
        font-size: 35px;
        font-weight: 900;
        text-align: center;
        margin: 0px
    }



    .header-section ul {
        flex-direction: column;


    }

    .about-us-header,
    .developers-header {
        margin-bottom: 20px;
    }



} */
/* Tablet Device Layout ended here */